<!DOCTYPE html>
<html ng-app="store">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">
</head>
<!-- ng-controller=Directive, StoreController=Controller name, store=alias -->
<body ng-controller="StoreController as store">

    <ul class="list-group">
        <!-- <li class="list-group-item" ng-repeat="product in store.products | limitTo:3 | orderBy:'-price' "> -->
        <li class="list-group-item" ng-repeat="product in store.products">
            <!-- <h3 ng-include="'product-title.html'"></h3> -->
            
            <!-- Element Directive -->
            <h3> <product-title></product-title> </h3>

            <!-- Attribute Directive -->
            <!-- <h3 product-title></h3> -->

            <!-- Image Gallery  -->
            <product-gallery></product-gallery>

            <!-- Product Panels -->
            <product-panels></product-panels>
        </li>
    </ul>

    <script type="text/javascript" src="resources/js/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="products.js"></script>
</body>
</html>